/* testimonial.module.css */


    .testimonialContainer{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color:white; 
        }

    .testimonialContainer h6{
        color:red;
    }

    .testimonial h5{
        
    margin-bottom:20px;
    text-align: center; 
    color:black; 
 

}


@media only screen and (max-width:1024px){
    .testimonial {
        color:white;
    }

    .testimonialContainer{
    justify-content: center;
      
    
    }
    




}